@font-face {
  font-family: 'DINPro-BoldItalic';
  src: url("../fonts/DINPro-BoldItalic.eot");
  src: url("../fonts/DINPro-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/DINPro-BoldItalic.svg#DINPro-BoldItalic") format("svg"), url("../fonts/DINPro-BoldItalic.ttf") format("truetype"), url("../fonts/DINPro-BoldItalic.woff") format("woff"), url("../fonts/DINPro-BoldItalic.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DINPro-Medium';
  src: url("../fonts/DINPro-Medium.eot");
  src: url("../fonts/DINPro-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/DINPro-Medium.svg#DINPro-Medium") format("svg"), url("../fonts/DINPro-Medium.ttf") format("truetype"), url("../fonts/DINPro-Medium.woff") format("woff"), url("../fonts/DINPro-Medium.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DINPro-Medium';
  src: url("../fonts/DINPro-Medium.eot");
  src: url("../fonts/DINPro-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/DINPro-Medium.svg#DINPro-Medium") format("svg"), url("../fonts/DINPro-Medium.ttf") format("truetype"), url("../fonts/DINPro-Medium.woff") format("woff"), url("../fonts/DINPro-Medium.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url("../fonts/GothamPro.svg#GothamPro") format("svg"), url("../fonts/GothamPro.ttf") format("truetype"), url("../fonts/GothamPro.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GothamPro-Bold';
  src: url("../fonts/GothamPro-Bold.svg#GothamPro-Bold") format("svg"), url("../fonts/GothamPro-Bold.ttf") format("truetype"), url("../fonts/GothamPro-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GothamPro-Medium';
  src: url("../fonts/GothamPro-Medium.svg#GothamPro-Medium") format("svg"), url("../fonts/GothamPro-Medium.ttf") format("truetype"), url("../fonts/GothamPro-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova-Semibold';
  src: url("../fonts/ProximaNova-Semibold.svg#ProximaNova-Semibold") format("svg"), url("../fonts/ProximaNova-Semibold.ttf") format("truetype"), url("../fonts/ProximaNova-Semibold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url("../fonts/ofont.ru_Proxima Nova.eot");
  src: url("../fonts/ofont.ru_Proxima Nova.eot?#iefix") format("embedded-opentype"), url("../fonts/ofont.ru_Proxima Nova.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova-Bold';
  src: url("../fonts/ProximaNova-Bold.eot");
  src: url("../fonts/ProximaNova-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Bold.svg#ProximaNova-Bold") format("svg"), url("../fonts/ProximaNova-Bold.ttf") format("truetype"), url("../fonts/ProximaNova-Bold.woff") format("woff"), url("../fonts/ProximaNova-Bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova-Regular';
  src: url("../fonts/ProximaNova-Regular.svg#ProximaNova-Regular") format("svg"), url("../fonts/ProximaNova-Regular.ttf") format("truetype"), url("../fonts/ProximaNova-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'proximanova_regular';
  src: url("../fonts/proximanova_regular.eot");
  src: url("../fonts/proximanova_regular.eot?#iefix") format("embedded-opentype"), url("../fonts/proximanova_regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DINPro-Bold';
  src: url("../fonts/DINPro-Bold.eot");
  src: url("../fonts/DINPro-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/DINPro-Bold.svg#DINPro-Bold") format("svg"), url("../fonts/DINPro-Bold.ttf") format("truetype"), url("../fonts/DINPro-Bold.woff") format("woff"), url("../fonts/DINPro-Bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url("../fonts/Poppins-Regular.eot");
  src: url("../fonts/Poppins-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Poppins-Regular.svg#Poppins-Regular") format("svg"), url("../fonts/Poppins-Regular.ttf") format("truetype"), url("../fonts/Poppins-Regular.woff") format("woff"), url("../fonts/Poppins-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

* a {
  text-decoration: none;
}

.swiper {
  max-width: 1110px;
}

.section-outer {
  margin: 0 auto;
  max-width: 1440px;
}

.section-inner {
  margin: 0 auto;
  max-width: 1110px;
}

.header {
  height: 104px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_logo img {
  height: 39px;
  max-width: 260px;
}

.header_logo--mobile {
  display: none;
}

.header_info {
  font-family: 'Proxima Nova';
  height: 38px;
  max-width: 335px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header_info .info-email_top {
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 140%;
  /* identical to box height, or 14px */
  /* Grey / 500 */
  color: #9E9E9E;
}

.header_info .info-email_bottom {
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 140%;
  /* identical to box height, or 24px */
  letter-spacing: 0.002em;
  /* Grey / 800 */
  color: #333333;
}

.header_info .info-phone {
  padding-left: 5px;
}

.header_info .info-phone_top {
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 140%;
  /* identical to box height, or 14px */
  /* Grey / 500 */
  color: #9E9E9E;
}

.header_info .info-phone_bottom {
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 140%;
  /* identical to box height, or 24px */
  letter-spacing: 0.002em;
  /* Grey / 800 */
  color: #333333;
}

.header .momile-header {
  display: none;
}

.section-nav {
  height: 52px;
  background: #333333;
}

.nav {
  width: 100%;
  height: 52px;
  left: 0px;
  top: 104px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #333333;
}

.nav .nav-wrapper {
  margin: 0 auto;
  width: 1110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav .nav-wrapper .nav-item {
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.002em;
  color: #F5F5F5;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-property: font-weight;
  transition-property: font-weight;
  -webkit-transition-property: font-size;
  transition-property: font-size;
}

.nav .nav-wrapper .nav-item:hover {
  cursor: pointer;
}

.section-main-slider {
  background-image: url(../images/slider_bg_image.png);
  background-repeat: no-repeat;
  background-position: center;
}

.section-main-slider .swiper .swiper-wrapper .swiper-slide .slider-image {
  max-height: 599px;
  position: absolute;
  padding-left: 190px;
}

.section-main-slider .swiper .swiper-wrapper .swiper-slide .slide-wrapper {
  height: 599px;
  max-width: 1110px;
  background-repeat: no-repeat;
  background-position: 110% 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.section-main-slider .swiper .swiper-wrapper .swiper-slide .slide-wrapper .slide-text {
  font-family: 'Proxima Nova';
  max-width: 440px;
  margin-bottom: 70px;
}

.section-main-slider .swiper .swiper-wrapper .swiper-slide .slide-wrapper .slide-text .slide-text__line {
  height: 1px;
  border: none;
  max-width: 70px;
  text-align: left;
  background-color: #BDBDBD;
  margin: 0 auto 0 0;
}

.section-main-slider .swiper .swiper-wrapper .swiper-slide .slide-wrapper .slide-text .slide-text__title {
  margin-top: 15px;
  font-style: normal;
  font-weight: 600;
  font-size: 34px;
  line-height: 140%;
  color: #333333;
}

.section-main-slider .swiper .swiper-wrapper .swiper-slide .slide-wrapper .slide-text .slide-text__produkt-name {
  font-style: normal;
  font-weight: 600;
  font-size: 34px;
  line-height: 140%;
  text-transform: uppercase;
  color: #66B821;
}

.section-main-slider .swiper .swiper-wrapper .swiper-slide .slide-wrapper .slide-text .slide-text__subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 140%;
  letter-spacing: 0.002em;
  color: #5E5E5E;
}

.section-main-slider .swiper .swiper-wrapper .swiper-slide .slide-wrapper .slide-button {
  margin-bottom: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 250px;
  height: 48px;
  background: #66B821;
  border-radius: 4px;
}

.section-main-slider .swiper .swiper-wrapper .swiper-slide .slide-wrapper .slide-button .slide-button__link {
  font-family: 'ProximaNova-Semibold';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #FFFFFF;
}

.section-main-slider .swiper .swiper-pagination {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 4px;
}

.section-main-slider .swiper .swiper-pagination-bullet {
  height: 4px;
  width: 4px;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid grey;
  border-radius: 25px;
}

.section-main-slider .swiper .swiper-pagination-bullet-active {
  height: 4px;
  width: 4px;
  background-color: #66B821;
  border: 2px solid #66B821;
  border-radius: 25px;
}

.section-main-slider .swiper .swiper-scrollbar {
  margin-bottom: 14px;
  height: 1.5px;
}

.section-main-slider .swiper .swiper-scrollbar .swiper-scrollbar-drag {
  background-color: #66B821;
}

.section-main-slider .slider-bollets {
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-slider {
  height: 599px;
}

.section-about .about .about-wrapper .about-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-about .about .about-wrapper .about-body .about-body__content .about-subtitle {
  width: 535px;
}

.section-about .about .about-wrapper .about-body .about-body__content .honor-aria .honor-aria__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 634px;
}

.section-about .about .about-wrapper .about-body .about-body__content .honor-aria .honor-aria__card .honor-card__content {
  padding-left: 25px;
}

.section-about .about .about-wrapper .about-body .about-body__content .documents .documents__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-about .about .about-wrapper .about-body .about-body__content .documents .documents__element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-about .about .about-wrapper .about-body .about-body__right-sitebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-about .about .about-wrapper .about-body .about-body__right-sitebar .about-numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-about .about .about-wrapper .about-body .about-body__right-sitebar .about-numbers .numders__element {
  width: 130px;
}

.section-about .about .about-wrapper .about-body .about-body__right-sitebar .about-call {
  width: 340px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-about .about .about-wrapper .about-body .about-body__right-sitebar .about-call .about-call__subtitle {
  width: 220px;
  padding-left: 10px;
}

.section-about .about .about-wrapper .about-body .about-body__right-sitebar .about-call .about-call__subtitle span {
  font-weight: 600;
  color: #66B821;
}

.section-footer {
  background-color: #333333;
}

.footer {
  height: 327px;
  background-color: #333333;
}

.footer .footer__logo {
  height: 140px;
}

.footer .footer__logo img {
  margin-top: 64px;
}

.footer .footer__body {
  height: 103px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: 'Gotham Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  letter-spacing: 0.01em;
  color: #E0E0E0;
}

.footer .footer__body .footer-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 538px;
  font-family: 'Gotham Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  letter-spacing: 0.01em;
  color: #E0E0E0;
}

.footer .footer__body .footer-nav .footer-nav__block {
  width: 155px;
}

.footer .footer__body .footer-nav .footer-nav__block .nav-item {
  color: #E0E0E0;
}

.footer .footer__body .footer-nav .footer-nav__block .nav-item--primary {
  color: #E0E0E0;
  padding-bottom: 16px;
  font-family: 'Gotham Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.002em;
}

.footer .footer__body .footer-nav .footer-nav__block .nav-item:active {
  font-style: italic;
}

.footer .footer__body .footer-contacts {
  max-width: 299px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .footer__body .footer-contacts .contacts-block .contacts-item {
  padding-left: 10px;
}

.footer .footer__body .footer-contacts .contacts-block .contacts-item .contacts-item__title {
  font-family: 'Gotham Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 140%;
  letter-spacing: 0.01em;
  color: #9E9E9E;
}

.footer .footer__body .footer-contacts .contacts-block .contacts-item .contakts-item__subtitle {
  font-family: 'Gotham Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.002em;
  color: #F5F5F5;
}

.footer .footer__body .footer-social .footer-social__ico {
  padding-top: 10px;
}

.footer .footer__body .footer-social .footer-social__ico .footer-social__ico-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .footer__copyrites {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footer__copyrites .copyrites {
  font-family: 'Gotham Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.002em;
  color: #9E9E9E;
}

.footer .footer__copyrites .privacy-policy a {
  font-family: 'Gotham Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.002em;
  color: #9E9E9E;
}

@media (max-width: 1120px) {
  .section-inner {
    padding: 0 20px;
  }
}

@media (max-width: 375px) {
  .section-inner {
    padding: 0 15px;
  }
  .section-header {
    background-color: #333333;
  }
  .header .momile-header {
    display: block;
  }
  .header .momile-header .info-wrapper {
    width: 120px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header .momile-header .info-wrapper .momile-header__item:hover {
    cursor: pointer;
  }
  .header_logo {
    display: none;
  }
  .header_logo--mobile {
    display: block;
  }
  .header_info {
    display: none;
  }
  .section-nav {
    display: none;
  }
  .nav {
    display: none;
  }
  .section-main-slider {
    background-image: url(../images/slider_bg_image--mobile.png);
  }
  .section-main-slider .swiper .swiper-wrapper .swiper-slide .slider-image {
    max-width: 480px;
    padding-left: 0px;
    margin-left: -50px;
  }
  .section-main-slider .swiper .swiper-wrapper .swiper-slide .slide-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .section-main-slider .swiper .swiper-wrapper .swiper-slide .slide-wrapper .slide-text {
    margin-bottom: 20px;
  }
  .section-main-slider .swiper .swiper-wrapper .swiper-slide .slide-wrapper .slide-button {
    margin-bottom: 30px;
    width: 335px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .section-main-slider .swiper .swiper-button-prev {
    display: none;
  }
  .section-main-slider .swiper .swiper-button-next {
    display: none;
  }
  .section-main-slider .swiper .swiper-scrollbar {
    margin-bottom: 14px;
    height: 1.5px;
  }
  .section-main-slider .swiper .swiper-scrollbar .swiper-scrollbar-drag {
    background-color: #66B821;
  }
  .section-main-slider .slider-bollets {
    height: 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer .footer__logo {
    height: 70px;
  }
  .footer .footer__logo img {
    margin-top: 40px;
    width: 195px;
  }
  .footer .footer__body .footer-nav {
    display: none;
  }
  .footer .footer__body .footer-contacts {
    display: none;
  }
  .footer .footer__body .footer-social {
    padding-top: 25px;
    width: 210px;
  }
  .footer .footer__body .footer-social .footer-social__title {
    display: none;
  }
  .footer .footer__body .footer-social .footer-social__ico .footer-social__ico-wrapper .footer-social__ico-item img {
    width: 30px;
    height: 30px;
  }
  .footer hr {
    height: 0.005em;
    background-color: #F5F5F5;
    border: none;
  }
  .footer .footer__copyrites {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .footer .footer__copyrites .copyrites {
    padding-top: 20px;
  }
  .footer .footer__copyrites .privacy-policy {
    padding-top: 20px;
  }
}
/*# sourceMappingURL=style.css.map */