    //=========== main ================
    @font-face {
        font-family: 'DINPro-BoldItalic';
        src: url('../fonts/DINPro-BoldItalic.eot');
        src: url('../fonts/DINPro-BoldItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/DINPro-BoldItalic.svg#DINPro-BoldItalic') format('svg'), url('../fonts/DINPro-BoldItalic.ttf') format('truetype'), url('../fonts/DINPro-BoldItalic.woff') format('woff'), url('../fonts/DINPro-BoldItalic.woff2') format('woff2');
        font-weight: normal;
        font-style: normal;
    }
    
    @font-face {
        font-family: 'DINPro-Medium';
        src: url('../fonts/DINPro-Medium.eot');
        src: url('../fonts/DINPro-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/DINPro-Medium.svg#DINPro-Medium') format('svg'), url('../fonts/DINPro-Medium.ttf') format('truetype'), url('../fonts/DINPro-Medium.woff') format('woff'), url('../fonts/DINPro-Medium.woff2') format('woff2');
        font-weight: normal;
        font-style: normal;
    }
    
    @font-face {
        font-family: 'DINPro-Medium';
        src: url('../fonts/DINPro-Medium.eot');
        src: url('../fonts/DINPro-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/DINPro-Medium.svg#DINPro-Medium') format('svg'), url('../fonts/DINPro-Medium.ttf') format('truetype'), url('../fonts/DINPro-Medium.woff') format('woff'), url('../fonts/DINPro-Medium.woff2') format('woff2');
        font-weight: normal;
        font-style: normal;
    }
    
    @font-face {
        font-family: 'Gotham Pro';
        src: url('../fonts/GothamPro.svg#GothamPro') format('svg'), url('../fonts/GothamPro.ttf') format('truetype'), url('../fonts/GothamPro.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }
    
    @font-face {
        font-family: 'GothamPro-Bold';
        src: url('../fonts/GothamPro-Bold.svg#GothamPro-Bold') format('svg'), url('../fonts/GothamPro-Bold.ttf') format('truetype'), url('../fonts/GothamPro-Bold.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }
    
    @font-face {
        font-family: 'GothamPro-Medium';
        src: url('../fonts/GothamPro-Medium.svg#GothamPro-Medium') format('svg'), url('../fonts/GothamPro-Medium.ttf') format('truetype'), url('../fonts/GothamPro-Medium.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }
    
    @font-face {
        font-family: 'ProximaNova-Semibold';
        src: url('../fonts/ProximaNova-Semibold.svg#ProximaNova-Semibold') format('svg'), url('../fonts/ProximaNova-Semibold.ttf') format('truetype'), url('../fonts/ProximaNova-Semibold.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }
    
    @font-face {
        font-family: 'Proxima Nova';
        src: url('../fonts/ofont.ru_Proxima Nova.eot');
        src: url('../fonts/ofont.ru_Proxima Nova.eot?#iefix') format('embedded-opentype'), url('../fonts/ofont.ru_Proxima Nova.woff2') format('woff2');
        font-weight: normal;
        font-style: normal;
    }
    
    @font-face {
        font-family: 'ProximaNova-Bold';
        src: url('../fonts/ProximaNova-Bold.eot');
        src: url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg'), url('../fonts/ProximaNova-Bold.ttf') format('truetype'), url('../fonts/ProximaNova-Bold.woff') format('woff'), url('../fonts/ProximaNova-Bold.woff2') format('woff2');
        font-weight: normal;
        font-style: normal;
    }
    
    @font-face {
        font-family: 'ProximaNova-Regular';
        src: url('../fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg'), url('../fonts/ProximaNova-Regular.ttf') format('truetype'), url('../fonts/ProximaNova-Regular.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }
    
    @font-face {
        font-family: 'proximanova_regular';
        src: url('../fonts/proximanova_regular.eot');
        src: url('../fonts/proximanova_regular.eot?#iefix') format('embedded-opentype'), url('../fonts/proximanova_regular.woff2') format('woff2');
        font-weight: normal;
        font-style: normal;
    }
    
    @font-face {
        font-family: 'DINPro-Bold';
        src: url('../fonts/DINPro-Bold.eot');
        src: url('../fonts/DINPro-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/DINPro-Bold.svg#DINPro-Bold') format('svg'), url('../fonts/DINPro-Bold.ttf') format('truetype'), url('../fonts/DINPro-Bold.woff') format('woff'), url('../fonts/DINPro-Bold.woff2') format('woff2');
        font-weight: normal;
        font-style: normal;
    }
    
    @font-face {
        font-family: 'Poppins';
        src: url('../fonts/Poppins-Regular.eot');
        src: url('../fonts/Poppins-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Poppins-Regular.svg#Poppins-Regular') format('svg'), url('../fonts/Poppins-Regular.ttf') format('truetype'), url('../fonts/Poppins-Regular.woff') format('woff'), url('../fonts/Poppins-Regular.woff2') format('woff2');
        font-weight: normal;
        font-style: normal;
    }
    
    * {
        a {
            text-decoration: none;
        }
    }
    
    .swiper {
        max-width: 1110px;
        // height: 300px;
    }
    
    .section-outer {
        margin: 0 auto;
        max-width: 1440px;
    }
    
    .section-inner {
        margin: 0 auto;
        max-width: 1110px;
    }
    
    //=========== /main ===============
    //=========== header =============
    .header {
        height: 104px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &_logo {
            img {
                height: 39px;
                max-width: 260px;
            }
        }
        &_info {
            font-family: 'Proxima Nova';
            height: 38px;
            max-width: 335px;
            display: flex;
            justify-content: space-between;
            .info-email {
                &_top {
                    font-style: normal;
                    font-weight: 400;
                    font-size: 10px;
                    line-height: 140%;
                    /* identical to box height, or 14px */
                    /* Grey / 500 */
                    color: #9E9E9E;
                }
                &_bottom {
                    font-style: normal;
                    font-weight: 400;
                    font-size: 17px;
                    line-height: 140%;
                    /* identical to box height, or 24px */
                    letter-spacing: 0.002em;
                    /* Grey / 800 */
                    color: #333333;
                }
            }
            .info-phone {
                &_top {
                    font-style: normal;
                    font-weight: 400;
                    font-size: 10px;
                    line-height: 140%;
                    /* identical to box height, or 14px */
                    /* Grey / 500 */
                    color: #9E9E9E;
                }
                &_bottom {
                    font-style: normal;
                    font-weight: 400;
                    font-size: 17px;
                    line-height: 140%;
                    /* identical to box height, or 24px */
                    letter-spacing: 0.002em;
                    /* Grey / 800 */
                    color: #333333;
                }
            }
        }
    }
    
    //=========== /header =============
    //============= Navigation =========
    .section-nav {
        height: 52px;
        background: #333333;
    }
    
    .nav {
        // position: absolute;
        width: 100%;
        height: 52px;
        left: 0px;
        top: 104px;
        display: flex;
        align-items: center;
        background: #333333;
        .nav-wrapper {
            margin: 0 auto;
            width: 1110px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .nav-item {
                font-family: 'Proxima Nova';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 140%;
                letter-spacing: 0.002em;
                color: #F5F5F5;
                transition-property: color;
                transition-property: font-weight;
                transition-property: font-size;
                &:hover {
                    // color: aqua;
                    // transition-duration: .9s;
                    // font-size: 18px;
                    cursor: pointer;
                }
            }
            .nav-item-source {}
        }
    }
    
    //============= /Navigation ========
    //============== main-slider =========
    .section-main-slider {
        background-image: url(../images/slider_bg_image.png);
        background-repeat: no-repeat;
        background-position: center;
        .swiper {
            .swiper-wrapper {
                .swiper-slide {
                    .slider-image {
                        max-height: 599px;
                        position: absolute;
                        padding-left: 190px;
                    }
                    .slide-wrapper {
                        height: 599px;
                        max-width: 1110px;
                        background-repeat: no-repeat;
                        background-position: 110% 10%;
                        display: flex;
                        justify-content: space-between;
                        align-items: flex-end;
                        .slide-text {
                            font-family: 'Proxima Nova';
                            max-width: 440px;
                            margin-bottom: 70px;
                            .slide-text__line {
                                height: 1px;
                                border: none;
                                max-width: 70px;
                                text-align: left;
                                background-color: #BDBDBD;
                                margin: 0 auto 0 0;
                            }
                            .slide-text__title {
                                margin-top: 15px;
                                font-style: normal;
                                font-weight: 600;
                                font-size: 34px;
                                line-height: 140%;
                                color: #333333;
                            }
                            .slide-text__produkt-name {
                                font-style: normal;
                                font-weight: 600;
                                font-size: 34px;
                                line-height: 140%;
                                text-transform: uppercase;
                                color: #66B821;
                            }
                            .slide-text__subtitle {
                                font-style: normal;
                                font-weight: 400;
                                font-size: 17px;
                                line-height: 140%;
                                letter-spacing: 0.002em;
                                color: #5E5E5E;
                            }
                        }
                        .slide-button {
                            margin-bottom: 70px;
                            display: flex;
                            flex-direction: row;
                            justify-content: center;
                            align-items: center;
                            width: 250px;
                            height: 48px;
                            background: #66B821;
                            border-radius: 4px;
                            .slide-button__link {
                                font-family: 'ProximaNova-Semibold';
                                font-style: normal;
                                font-weight: 500;
                                font-size: 14px;
                                line-height: 24px;
                                color: #FFFFFF;
                            }
                        }
                    }
                }
            }
        }
        .slider-bollets {
            height: 70px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
    }
    
    .main-slider {
        height: 599px;
    }
    
    //============== /main-slider ========
    //============= footer ===============
    .section-footer {
        background-color: #333333;
    }
    
    .footer {
        height: 327px;
        background-color: #333333;
        .footer__logo {
            height: 140px;
            img {
                margin-top: 64px;
            }
        }
        .footer__body {
            height: 103px;
            display: flex;
            justify-content: space-between;
            font-family: 'Gotham Pro';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 140%;
            letter-spacing: 0.01em;
            color: #E0E0E0;
            .footer-nav {
                display: flex;
                justify-content: space-between;
                width: 538px;
                font-family: 'Gotham Pro';
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                line-height: 140%;
                letter-spacing: 0.01em;
                color: #E0E0E0;
                .footer-nav__block {
                    width: 155px;
                    .nav-item {
                        color: #E0E0E0;
                        &--primary {
                            color: #E0E0E0;
                            padding-bottom: 16px;
                            font-family: 'Gotham Pro';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 14px;
                            line-height: 140%;
                            letter-spacing: 0.002em;
                        }
                        &:active {
                            font-style: italic;
                        }
                    }
                }
            }
            .footer-contacts {
                max-width: 299px;
                display: flex;
                justify-content: space-between;
                .contacts-block {
                    .contacts-item {
                        .contacts-item__title {
                            font-family: 'Gotham Pro';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 12px;
                            line-height: 140%;
                            letter-spacing: 0.01em;
                            color: #9E9E9E;
                        }
                        .contakts-item__subtitle {
                            font-family: 'Gotham Pro';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 14px;
                            line-height: 140%;
                            letter-spacing: 0.002em;
                            color: #F5F5F5;
                        }
                    }
                }
            }
            .footer-social {
                .footer-social__title {}
                .footer-social__ico {
                    padding-top: 10px;
                }
            }
        }
        .footer__copyrites {
            height: 50px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .copyrites {
                font-family: 'Gotham Pro';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 140%;
                letter-spacing: 0.002em;
                color: #9E9E9E;
            }
            .privacy-policy {
                a {
                    font-family: 'Gotham Pro';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 140%;
                    letter-spacing: 0.002em;
                    color: #9E9E9E;
                }
            }
        }
    }
    
    //============= /footer ===============